{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Editar{% endblock title %}
{% block content %}

<h2>Edite su cuenta</h2>
<p>You can edit your account using the follow form</p>
<form action="" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'cuentas:profile-list' %}"class="btn btn-primary">Volver</a>
    {% endbuttons %}
    

    Caracteres: <span id="numerocaracteres">0</span>
</form>
{% endblock content %}