

{% extends 'base.html' %}

{% block content %}
  <p>
    <a href="{% url 'empleos:create-job' %}" class="btn btn-primary">Agregar Oportinudad</a>
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
       
        <th>Título</th>
        <th>Descripción</th>
        <th>Estado</th>
        
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td><a href="{% url 'empleos:detail-job' job.pk %}">{{ job.titulo }}</a></td>
          <td>{{ job.descripcion|truncatewords:30 }}</td>
          {% if job.activo %}
          <td>&#10004 Activo</td>
          {% else %}
          <td>&#9746 No Activo</td>
          
          {% endif %}
          <td><a href="{% url 'empleos:update-job' job.pk %}"class="btn btn-primary" style="margin:5px;">Editar</a>
          <a href="{% url 'empleos:delete-job' job.pk %}"class="btn btn-danger" style="margin:5px;">Borrar</a></td>
         
          
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No hay oportunidades registradas</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}